<div class="px-5 py-5">
  <span class=" text-xl font-medium text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
    Vagas cadastradas
    <p class="mt-1 text-sm font-regular text-gray-500 ">Vagas disponíveis para candidatura</p>
  </span>
</div>

<div class="px-5 py-5 overflow-x-auto overflow-y-auto shadow-md sm:rounded-lg">

  <div
    class="flex items-center justify-start flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 py-4 bg-white dark:bg-gray-900">

    <label for="table-search" class="sr-only">Pesquisar</label>
    <div class="relative mr-4">
      <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
        </svg>
      </div>
      <input type="text" id="table-search-users"
        class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Pesquisar" />
    </div>

    <button type="button" class=" text-white flex items-center bg-primary hover:bg-primary-hover focus:ring-4 focus:outline-none focus:ring-primary font-semibold rounded-md text-sm px-5 py-2 text-center">
      <svg class="mr-2" width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 12H19M12 19V5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      Incluir vaga
    </button>
  </div>

  <table class="w-full bg-red-950 text-sm text-left rtl:text-right text-gray-500">
     <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700">
      <tr>
        <th scope="col" class="px-6 py-3">
          TÍtulo
        </th>
        <th scope="col" class="px-6 py-3">
          Empresa
        </th>
        <th scope="col" class="px-6 py-3">
          Situação
        </th>
        <th scope="col" class="px-6 py-3">
          Data de publicação
        </th>
        <th scope="col" class="px-6 py-3">
          Ações
        </th>
      </tr>
    </thead>
    <tbody>

      @for (item of [1,2,2,2,2,2,2,2,2,2]; track $index) {

        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

          <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
            Auxiliar de logistica
          </th>
          <td class="px-6 py-4">
            Ferreira Costa
          </td>
          <td class="px-6 py-4">
            <div class="flex items-center">
              <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Online
            </div>
          </td>
          <td class="px-6 py-4">
            12/12/2021 às 12:00
          </td>
          <td class="px-6 py-4">

            <a type="button" data-modal-target="editUserModal" data-modal-show="editUserModal"
              class="mr-6 cursor-pointer font-medium text-blue-600 dark:text-blue-500 hover:underline">Editar</a>

            <a type="button" data-modal-target="editUserModal" data-modal-show="editUserModal"
              class="cursor-pointer font-medium text-erro dark:text-blue-500 hover:underline">Excluir</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <!-- Editar modal -->
  <div id="editUserModal" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-5xl max-h-full">
      <!-- Modal content -->
      <form class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Editar
          </h3>
          <button type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-hide="editUserModal">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-6 h-1/2vh overflow-auto  space-y-6">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <label for="id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ID</label>
              <input type="number" name="id" id="id"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="123" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="id_empresa" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ID Empresa</label>
              <input type="text" name="id_empresa" id="id_empresa"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="ABC123" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="titulo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Título</label>
              <input type="text" name="titulo" id="titulo"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Desenvolvedor Full Stack" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="descricao" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descrição</label>
              <textarea name="descricao" id="descricao"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 h-20 resize-none dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Descrição da vaga" required=""></textarea>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="salario" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Salário</label>
              <input type="number" name="salario" id="salario"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="5000.00" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="estado" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Estado</label>
              <input type="text" name="estado" id="estado"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="São Paulo" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="cidade" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cidade</label>
              <input type="text" name="cidade" id="cidade"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="São Paulo" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="endereco" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Endereço</label>
              <input type="text" name="endereco" id="endereco"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Rua A" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="numero" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Número</label>
              <input type="text" name="numero" id="numero"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="123" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="complemento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Complemento</label>
              <input type="text" name="complemento" id="complemento"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Bloco A" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="cep" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CEP</label>
              <input type="text" name="cep" id="cep"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="12345-678" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="bairro" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bairro</label>
              <input type="text" name="bairro" id="bairro"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Centro" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="pais" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">País</label>
              <input type="text" name="pais" id="pais"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Brasil" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="tipo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo</label>
              <input type="text" name="tipo" id="tipo"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="CLT" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="modelo_contratacao" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Modelo de Contratação</label>
              <input type="text" name="modelo_contratacao" id="modelo_contratacao"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Presencial" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="nivel" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nível</label>
              <input type="text" name="nivel" id="nivel"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Pleno" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="area" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Área</label>
              <input type="text" name="area" id="area"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Tecnologia" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="data_publicacao" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Data de Publicação</label>
              <input type="text" name="data_publicacao" id="data_publicacao"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="01/01/2022" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="data_expiracao" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Data de Expiração</label>
              <input type="text" name="data_expiracao" id="data_expiracao"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="31/01/2022" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="criado_por" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Criado por</label>
              <input type="text" name="criado_por" id="criado_por"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="John Doe" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
              <input type="text" name="status" id="status"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Aberta" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="quantidade_vagas" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantidade de Vagas</label>
              <input type="number" name="quantidade_vagas" id="quantidade_vagas"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="5" required="">
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="exibe_salario" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Exibe Salário</label>
              <select name="exibe_salario" id="exibe_salario"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required="">
          <option value="true">Sim</option>
          <option value="false">Não</option>
              </select>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="exibe_quantidade_vagas" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Exibe Quantidade de Vagas</label>
              <select name="exibe_quantidade_vagas" id="exibe_quantidade_vagas"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required="">
          <option value="true">Sim</option>
          <option value="false">Não</option>
              </select>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="exclusivo_pcd" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Exclusivo PCD</label>
              <select name="exclusivo_pcd" id="exclusivo_pcd"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required="">
          <option value="true">Sim</option>
          <option value="false">Não</option>
              </select>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="permite_pcd" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Permite PCD</label>
              <select name="permite_pcd" id="permite_pcd"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required="">
          <option value="true">Sim</option>
          <option value="false">Não</option>
              </select>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div
          class="flex items-center p-6 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b dark:border-gray-600">
          <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save
            all</button>
        </div>
      </form>
    </div>
  </div>
</div>
