<div class="container mx-auto pt-24 p-4 sm:p-8 md:p-20 xl:px-40">
    <!-- Seção Hero -->
    <div class="bg-gradient-to-r from-secondary to-blue-600 rounded-lg shadow-lg p-8 mb-12 flex flex-col md:flex-row items-center justify-between">
      <div class="mb-8 md:mb-0 md:w-1/2">
        <h1 class="text-5xl font-bold text-white mb-4">Conecte-se com os melhores talentos</h1>
        <p class="text-gray-200 text-lg mb-6">Encontre os profissionais ideais para sua empresa na nossa plataforma.</p>
        <a routerLink="/cadastro-empresa" class="bg-white text-blue-600 font-semibold py-3 px-6 rounded-lg shadow hover:bg-gray-100 hover:scale-105 transition-colors duration-300">Cadastre sua Empresa</a>
      </div>
      <div class="md:w-1/2">
        <img src="assets/images/hero-secction-min.jpg" alt="Imagem Hero" class="w-full h-auto rounded-lg shadow-md">
      </div>
    </div>
  
    <!-- Seção Benefícios -->
    <div class="bg-white rounded-lg shadow-lg p-8 mb-12">
      <h2 class="text-3xl font-bold text-black mb-8">Vantagens de usar nossa plataforma</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-gray-50 p-6 rounded-lg shadow-md flex flex-col items-center text-center hover:bg-primary2 hover:scale-105 duration-500">
          <img src="assets/icons/rocket.svg" alt="Rapidez no Recrutamento" class="w-16 h-16 mb-4">
          <h3 class="text-xl font-semibold text-black  mb-2">Rapidez no recrutamento</h3>
          <p class="text-black ">Encontre candidatos qualificados rapidamente com nossa ferramenta de busca avançada.</p>
        </div>
        <div class="bg-gray-50 p-6 rounded-lg shadow-md flex flex-col items-center text-center hover:bg-primary2 hover:scale-105 duration-500">
          <img src="assets/icons/chart.svg" alt="Custo-benefício" class="w-16 h-16 mb-4">
          <h3 class="text-xl font-semibold text-black  mb-2">Custo-benefício</h3>
          <p class="text-black ">Reduza os custos de recrutamento com nossa plataforma eficiente e acessível.</p>
        </div>
        <div class="bg-gray-50 p-6 rounded-lg shadow-md flex flex-col items-center text-center hover:bg-primary2 hover:scale-105 duration-500">
          <img src="assets/icons/earth.svg" alt="Acesso a Talentos Diversos" class="w-16 h-16 mb-4">
          <h3 class="text-xl font-semibold text-black mb-2">Acesso a talentos diversos</h3>
          <p class="text-black ">Conecte-se com uma ampla variedade de candidatos de diferentes setores e especialidades.</p>
        </div>
      </div>
    </div>
  
    <!-- Seção Depoimentos -->
    <div class="bg-white rounded-lg shadow-lg p-8 mb-12">
      <h2 class="text-3xl font-bold text-black mb-8">O que nossos clientes dizem</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-gray-50 p-6 rounded-lg shadow-md">
          <p class="text-gray-600 italic mb-4">"A plataforma facilitou muito nosso processo de recrutamento. Encontramos ótimos candidatos rapidamente."</p>
          <p class="text-black font-semibold">Empresa XYZ</p>
        </div>
        <div class="bg-gray-50 p-6 rounded-lg shadow-md">
          <p class="text-gray-600 italic mb-4">"Excelente custo-benefício. Conseguimos reduzir nossos custos de recrutamento significativamente."</p>
          <p class="text-black font-semibold">Empresa ABC</p>
        </div>
        <div class="bg-gray-50 p-6 rounded-lg shadow-md">
          <p class="text-gray-600 italic mb-4">"A variedade de candidatos disponíveis é impressionante. Conectamos com profissionais de alta qualidade."</p>
          <p class="text-black font-semibold">Empresa DEF</p>
        </div>
      </div>
    </div>
  
    <!-- Seção Chamada para Ação -->
    <div class="bg-gradient-to-r from-secondary to-blue-600 rounded-lg shadow-lg p-8 text-center text-white">
      <h2 class="text-4xl font-bold mb-4">Pronto para encontrar os melhores talentos?</h2>
      <p class="text-lg mb-6">Cadastre sua empresa e comece a conectar-se com candidatos qualificados hoje mesmo.</p>
      <a routerLink="/cadastro-empresa" class="bg-white text-blue-600 font-semibold py-3 px-6 rounded-lg shadow hover:bg-gray-100 transition-colors duration-300">Cadastre sua Empresa</a>
    </div>
  </div>
  