<div class="w-full relative">
  @if (label) {
    <label for="estados" class="block mb-2 font-medium text-gray-900 dark:text-white">{{label}}</label>
  }

  <div class="flex items-center relative">
    <input [ngClass]="{'cursor-pointer': !disabled}" type="text" [disabled]="disabled" [maxLength]="maxLength" [(ngModel)]="inputValue" (click)="!disabled && toggleDropdown()" (ngModelChange)="filterData()" [placeholder]="placeholder" class="border border-gray-300 rounded-lg py-2 px-4 w-full pr-12">
    <svg (click)="toggleDropdown()" class="absolute right-1 top-2 w-7 h-7"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8 10L12 14L16 10" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

    @if (isOptionSelected) {
      <svg (click)="clearInput()" class="absolute cursor-pointer right-9 top-3.5 w-4 h-4"  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 18L17.94 6M18 18L6.05998 6.00001" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    }

  </div>

  @if (isOpen) {
    <ul #options  class="w-full max-h-44 min-h-2 overflow-auto shadow bg-white absolute z-50 border border-gray-300 rounded-md">
      @for (option of dataFiltered; track $index) {
        <li id="option-{{$index}}" (click)="selectOption(option.id)" [ngClass]="{'font-semibold': option.selected, 'font-regular': !option.selected, 'bg-gray-50 font-semibold': $index == selectedIndex}" class="hover:bg-gray-50 hover:font-semibold cursor-pointer px-4 py-1">{{option.value}}</li>
      }
    </ul>
  }

</div>


