<div class="corpo">
  <div class="banner">
    <div class="banner-esquerda">
      <div class="texto">
        <span class="texto-banner">
          Conectando
          <span style="color: #008a00">talentos <br />às oportunidades</span>
          com foco no social.
        </span>
        <span class="texto-banner-sub"
          >Nós somos uma agência de emprego online dedicada a conectar demandas
          de trabalho de empresas e órgãos públicos com pessoas em busca de
          emprego, priorizando e qualificando grupos sociais vulneráveis.</span
        >
      </div>
    </div>
    <div class="banner-direita">
      <img
        src="assets/images/imagem-banner.svg"
        alt="Cadeirante"
        id="cadeirante"
      />
    </div>
  </div>
  <div class="container-1">
    <div class="processo-candidato">
        <div class="head-processo-candidato">
            <span class="header-processo-candidato">Processo do <span style="color: #008a00;">Candidato</span></span>
            <span class="sub-texto-processo-candidato">Em todo o processo de candidatura, acompanhamos o processo</span>
        </div>
        <div class="figuras-processo-candidato">
            <div class="circulo-verde"><span>Cadastro</span></div>
            <div class="linha-cinza"></div>
            <div class="circulo-cinza"><span>Qualificação</span></div>
            <div class="linha-cinza"></div>
            <div class="circulo-cinza"><span>Candidatura</span></div>
            <div class="linha-cinza"></div>
            <div class="circulo-cinza"><span>Entrevista</span></div>
            <div class="linha-cinza"></div>
            <div class="circulo-cinza"><span>Contratação</span></div>
        </div>
      </div>
  </div>

</div>
