.corpo {
    padding: 2% 15%;
    font-family: 'Signika';
  }
  
  .texto {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .texto-banner {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 25px;
  }
  .texto-banner-sub {
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 400;
    color: #888888;
  }
  .banner-esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-direita {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cadeirante {
    margin-top: 4%;
    width: max-content;
  }
  .banner {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-gap: 50px;
    background-color: #f5f5f5;
    border-radius: 26px;
    padding: 50px;
  }
  .container-1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
  }
  .processo-candidato{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .head-processo-candidato {
    display: flex;
    flex-direction: column;
  }
  .header-processo-candidato {
    font-size: 2rem;
    font-weight: 500;
  }
  .sub-texto-processo-candidato {
    font-size: 1.5rem;
    font-weight: 400;
    color: #888888;
  }
  .figuras-processo-candidato {
    display: flex;
    margin-top: 40px;
    align-items: center;
  }
  .circulo-verde {
    width: 5vmin;
    height: 5vmin;
    border-radius: 50%;
    border: 7px solid #008a00;
  }
  .linha-cinza {
    width: 100%;
    height: 7px;
    background-color: #d9d9d9;
  }
  .circulo-cinza {
    width: 5vmin;
    height: 5vmin;
    border-radius: 50%;
    border: 7px solid #d9d9d9;
  }
  .figuras-processo-candidato span{
      display: flex;
      margin: 130% 0;
      justify-content: center;   
  }
  .animate-fadeIn {
    animation: fadeIn 1s ease-in-out;
  }

  .animate-fadeInDelay {
    animation: fadeIn 1.5s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  