<div class="container mx-auto p-4 sm:p-8 md:p-20 xl:mx-60">
  <!-- Hero Sessão -->
  <div class="bg-blue-50 rounded-xl p-12 mb-12 shadow-lg animate-fadeIn">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      <div class="flex flex-col justify-center">
        <h1 class="text-4xl font-bold mb-6 leading-tight text-black ">
          Conectando <span class="text-green-600">talentos</span> às
          <span class="text-green-600">oportunidades</span> com foco no social.
        </h1>
        <p class="text-lg  mb-8">
          Nós somos uma agência de emprego online dedicada a conectar demandas
          de trabalho de empresas e órgãos públicos com pessoas em busca de
          emprego, priorizando e qualificando grupos sociais vulneráveis.
        </p>
        <div>
          <a href="/cadastro-profissional"
            class="inline-block bg-green-600 text-white py-3 px-6 rounded-md shadow-lg transition-transform duration-300 hover:scale-105 mr-4 ">Cadastre-se
            Agora</a>
          <a href="/login"
            class="inline-block bg-white text-green-600 border border-green-600 py-3 px-6 rounded-md shadow-lg transition-transform duration-300 hover:scale-105">Acessar
            Conta</a>
        </div>
      </div>
      <div class="hidden md:flex justify-center items-center">
        <img src="assets/icons/imagem-cadeirante-banner.svg" alt="Cadeirante"
          class="mt-4 max-w-none transition-transform duration-500 hover:scale-105 " />
      </div>
    </div>
  </div>

  <!-- Etapas -->
  <div class="bg-white rounded-lg shadow-lg p-8 my-12 animate-fadeInDelay">
    <div class="text-center mb-8">
      <h2 class="text-3xl font-semibold text-black">Como Funciona</h2>
      <p class="">Veja as etapas do nosso processo de conexão entre talentos e oportunidades.</p>
    </div>
    <div class="flex items-center justify-center">
      <ol class="flex flex-col md:flex-row items-center justify-center w-full space-y-6 md:space-y-0 md:space-x-12">
        <li class="flex flex-col items-center text-center">
          <div class="w-20 h-20 bg-green-600 text-white rounded-full flex items-center justify-center mb-4 shadow-lg ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v16a1 1 0 01-1 1H4a1 1 0 01-1-1V4z" />
            </svg>
          </div>
          <span class="font-medium text-black">Cadastro</span>
        </li>
        <li class="flex flex-col items-center text-center">
          <div class="w-20 h-20 bg-yellow-500 text-white rounded-full flex items-center justify-center mb-4 shadow-lg ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zM12 14c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2-2-.9-2-2-2zM12 20c-1.1 0-2-.9-2-2s.9-2 2-2 2-.9 2-2-.9-2-2-2z" />
            </svg>
          </div>
          <span class="font-medium text-black">Qualificação</span>
        </li>
        <li class="flex flex-col items-center text-center">
          <div class="w-20 h-20 bg-red-500 text-white rounded-full flex items-center justify-center mb-4 shadow-lg ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m0 0h-1v-4h4v4h1l1 4h-6l1-4z" />
            </svg>
          </div>
          <span class="font-medium text-black">Candidatura</span>
        </li>
        <li class="flex flex-col items-center text-center">
          <div class="w-20 h-20 bg-blue-500 text-white rounded-full flex items-center justify-center mb-4 shadow-lg ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11a4 4 0 014-4 4 4 0 014 4m0 0h2m-2 0a4 4 0 01-4 4 4 4 0 01-4-4m0 0H5" />
            </svg>
          </div>
          <span class="font-medium text-black">Entrevista</span>
        </li>
        <li class="flex flex-col items-center text-center">
          <div class="w-20 h-20 bg-purple-500 text-white rounded-full flex items-center justify-center mb-4 shadow-lg ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13h1l1 4h-6l1-4h-1m0 0V7m0 6h-1l-1 4h6l-1-4h-1m0 0V7" />
            </svg>
          </div>
          <span class="font-medium text-black">Contratação</span>
        </li>
      </ol>
    </div>
  </div>

  <!-- Testemunhos Sessão -->
  <div class="bg-yellow-50 rounded-lg shadow-lg p-8 my-12 animate-fadeIn">
    <h2 class="text-3xl font-semibold text-center text-black mb-8">O que nossos usuários dizem</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="bg-white rounded-lg p-6 shadow transition-transform duration-500 hover:scale-105">
        <p class="mb-4">"Encontrei meu emprego dos sonhos graças à Emprega Social. O processo foi simples e
          eficiente!"</p>
        <p class="font-semibold text-black">- Maria Silva</p>
      </div>
      <div class="bg-white rounded-lg p-6 shadow transition-transform duration-500 hover:scale-105">
        <p class=" mb-4">"A parceria com a prefeitura realmente faz a diferença. Fui capacitado e consegui um ótimo
          emprego."</p>
        <p class="font-semibold text-black">- João Oliveira</p>
      </div>
      <div class="bg-white rounded-lg p-6 shadow transition-transform duration-500 hover:scale-105">
        <p class=" mb-4">"Como empresário, encontrei candidatos qualificados e prontos para trabalhar. Excelente
          plataforma!"</p>
        <p class="font-semibold text-black">- Ana Pereira</p>
      </div>
    </div>
  </div>

  <!-- Parceiros -->
  <div class="bg-white rounded-lg shadow-lg p-16 my-12 animate-fadeInDelay">
    <h2 class="text-3xl font-semibold text-center text-black mb-8">Nossos Parceiros</h2>
    <div class="flex flex-wrap justify-center items-center gap-8">
      <img src="/assets/images/igarassu-logo.png" alt="Parceiro 1" class="h-12 sm:h-16 transition-transform duration-500 hover:scale-105">
      <img src="assets/images/portodigital.png" alt="Parceiro 2" class="h-12 sm:h-16 transition-transform duration-500 hover:scale-105">

    </div>
  </div>

  <!-- Call to Action Section -->
  <div class="bg-green-600 rounded-lg p-8 my-12 text-center text-white animate-fadeIn">
    <h2 class="text-3xl font-semibold mb-4 ">Junte-se a nós e faça a diferença!</h2>
    <p class="text-xl mb-6">Seja você um candidato à procura de oportunidades ou uma empresa em busca de talentos, a Emprega
      Social é o lugar certo.</p>
    <div class="flex justify-center space-x-4">
      <a href="/cadastro-profissional" class="bg-white text-green-600 hover:bg-gray-100 font-semibold rounded-md text-sm px-5 py-2.5 transition-colors duration-300 ">Cadastre-se Agora</a>
      <a href="/login" class="bg-white text-green-600 hover:bg-gray-100 font-semibold rounded-md text-sm px-5 py-2.5 transition-colors duration-300">Acessar Conta</a>
    </div>
  </div>
</div>
