<div class="p-4 sm:p-8 sm:mx-0 md:p-20 xl:mx-60">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12 bg-gray-200 rounded-xl p-12">
            <div class="flex justify-center items-center">
                <div class="flex flex-col text-left">
                    <span class="text-4xl font-medium mb-6">
                        Conectando
                        <span class="text-green-700">talentos <br />às oportunidades</span>
                        com foco no social.
                    </span>
                    <span class="text-justify text-2xl font-light text-gray-500">
                        Nós somos uma agência de emprego online dedicada a conectar demandas
                        de trabalho de empresas e órgãos públicos com pessoas em busca de
                        emprego, priorizando e qualificando grupos sociais vulneráveis.
                    </span>
                </div>
            </div>
            <div class="justify-center items-center sm:flex hidden">
                <img
                    src="assets/icons/imagem-cadeirante-banner.svg"
                    alt="Cadeirante"
                    class="mt-4 max-w-none"
                />
            </div>
        </div>

    <div class="flex items-center justify-center ">
        <ol class="flex flex-col md:flex-row items-center justify-center w-full my-16">
            <li class="flex flex-col md:flex-row w-full items-center text-primary md:after:content-[''] md:after:w-full after:h-4 md:after:h-1 md:after:border-b after:border-green-600 after:border-4 after:inline-block dark:after:border-blue-800">
                <span class="flex items-center md:justify-center w-10 h-10 bg-green-700 rounded-full lg:bg-transparent lg:border-8 lg:border-green-700 lg:h-20 lg:w-20 shrink-0">
                    <span class="ml-16 md:ml-0 md:mt-28 font-medium">Cadastro</span>
                </span>
            </li>
            <li class="flex flex-col md:flex-row w-full items-center text-primary after:content-[''] md:after:w-full after:h-4 md:after:h-1 md:after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-blue-800">
                <span class="flex items-center md:justify-center w-10 h-10 bg-gray-300 rounded-full lg:bg-transparent lg:border-8  lg:h-20 lg:w-20 shrink-0">
                    <span class="ml-16 md:ml-0 md:mt-28 font-medium">Qualificação</span>
                </span>
            </li>
            <li class="flex flex-col md:flex-row w-full items-center text-primary after:content-[''] md:after:w-full after:h-4 md:after:h-1 md:after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-blue-800">
                <span class="flex items-center md:justify-center w-10 h-10 bg-gray-300 rounded-full lg:bg-transparent lg:border-8  lg:h-20 lg:w-20 shrink-0">
                    <span class="ml-16 md:ml-0 md:mt-28 font-medium">Candidatura</span>
                </span>
            </li>
            <li class="flex flex-col md:flex-row w-full items-center text-primary after:content-[''] md:after:w-full after:h-4 md:after:h-1 md:after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-blue-800">
                <span class="flex items-center md:justify-center w-10 h-10 bg-gray-300 rounded-full lg:bg-transparent lg:border-8  lg:h-20 lg:w-20 shrink-0">
                    <span class="ml-16 md:ml-0 md:mt-28 font-medium">Entrevista</span>
                </span>
            </li>
            <li class="flex flex-col md:flex-row items-center">
                <span class="flex items-center md:justify-center w-10 h-10 bg-gray-300 rounded-full lg:bg-transparent lg:border-8  lg:h-20 lg:w-20 shrink-0">
                    <span class="ml-16 md:ml-0 md:mt-28 font-medium">Contratação</span>
                </span>
            </li>
        </ol> 
    </div>
</div>